<header>
  <h1 class="logo">Template</h1>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="{ exact: true }">Home</a></li>
      <li><a routerLink="page-two" routerLinkActive="active">Page Two</a></li>
      <li><a routerLink="page-three" routerLinkActive="active">Page Three</a></li>
      <li><a routerLink="page-four" routerLinkActive="active">Page Four</a></li>
      <li>
        <a routerLink="contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </nav>
</header>
